<h1>Credits</h1>

<div class="infoblock">
	<h2>Website</h2>
	<i>Built with the </i><a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://www.jquery.com">jQuery</a><br />
	<i>Charts using the excellent </i><a href="http://www.highcharts.com/">Highcharts</a> library<br />
	<i>Hosted on </i><a href="http://www.heroku.com/">Heroku</a>
</div>

<div class="infoblock">
	<h2>Data</h2>
	<i>Spending data has been obtained from </i><a href="http://whatwepayfor.com/">What We Pay For</a> via generous use of their API.
</div>

<div class="infoblock">
	<h2>Graphics</h2>
	<i>Winking George from </i><a href="http://www.openclipart.org/">Open Clipart</a>
</div>

<div class="infoblock">
	<i>This website is intended to summarize U.S. Government spending in an easy-to-understand manner.
		The tax computation is simplified to show only the tax liabilities via the various federal tax brackets.
		State taxes, and the various possible deductions and exemptions are not considered.<br /><br />
		This website is not to be considered professional advice, and is only intended to give an overview of the federal tax computation 
		and spending.<br /><br />
		All feedback is welcome. In particular, any improvements on the grouping of expenses, (or any errors in the same) would be welcome.</i>
</div>

<div class="infoblock">
	<h2>Contact me</h2>
	<i>Email me : </i> anil.kumar [at] gmail<br />
	<i>Twitter : </i> <a href="https://twitter.com/zimblyanil">zimblyanil</a><br />
	<i>Everything else : </i> <a href="http://www.ecogito.net">Ecogito</a>
</div>
