<div class="logo"><%= link_to APP_CONFIG[:site_name], :root %></div>
<div class="logo-subtitle">Demystifying Federal Taxes and Government Spending</div>
<div class="fblike">
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.wheredidmytaxdollarsgo.com%2F&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;width=150&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
</div>
<div class="tweet">
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.wheredidmytaxdollarsgo.com" data-text="Where did my tax dollars go?" data-count="horizontal" data-via="zimblyanil">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>